services:
  postgres:
    image: postgres:17
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      start_period: 30s
      interval: 1s
      timeout: 1s
      retries: 1

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $$MSSQL_SA_PASSWORD -C -Q 'SELECT 1'"]
      start_period: 30s
      interval: 1s
      timeout: 1s
      retries: 1

  moneygroup.webapi:
    image: ${DOCKER_REGISTRY-}moneygroupwebapi
    depends_on:
      mssql:
        condition: service_healthy
    build:
      context: .
      dockerfile: src/WebApi/Dockerfile
