services:
  postgres:
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./src/Infrastructure.PostgreSql/Docker/scripts/:/docker-entrypoint-initdb.d/
      - ./src/Infrastructure.PostgreSql/Docker/:/psql/
      # - postgres:/var/lib/postgresql/data/

  mssql:
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "password123!"
    ports:
      - "1433:1433"
    volumes:
      - ./src/Infrastructure.SqlServer/Docker/scripts/:/mssql-server-setup-scripts.d/
      # - mssql:/var/opt/mssql

  moneygroup.webapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "5200:8080"
      - "7428:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

volumes:
  postgres:
  mssql: